In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('stock_data.txt')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

# Remove extra header

In [8]:
df = pd.read_csv('stock_data.txt',skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

# set the header

In [9]:
df = pd.read_csv('stock_data.txt',header=2)
df

    WMT           4.61  484    65           n.a.
0  MSFT             -1   85    64     bill gates
1  RIL   not available   50  1023  mukesh ambani
2  TATA            5.6   -1  n.a.     ratan tata

# If you do not have a header and

In [10]:
df = pd.read_csv('stock_data.txt',header=None)
df

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

# If header is missing,add headers

In [14]:
df = pd.read_csv("stock_data.txt", header=None, names = ["ticker","eps","revenue","people"])
df

                ticker      eps revenue         people
tickers            eps  revenue   price         people
GOOGL            27.82       87     845     larry page
WMT               4.61      484      65           n.a.
MSFT                -1       85      64     bill gates
RIL      not available       50    1023  mukesh ambani
TATA               5.6       -1    n.a.     ratan tata

# Read only limited rows

In [15]:
df = pd.read_csv("stock_data.txt",  nrows=2)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

# Replace n.a , not available with NaN

In [17]:
df = pd.read_csv("stock_data.txt", na_values=["n.a.", "not available"])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [ ]:
# Replace -1 in revenue only with NaN..( do not replace -1 in eps )

In [18]:
df = pd.read_csv("stock_data.txt",  na_values= {
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

# Write to csv

In [19]:
df.to_csv("new.csv", index=False)

In [20]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

# Write only few columns

In [21]:
df.to_csv("scnd.csv", index=False, columns=["tickers","price"])